
@model IEnumerable<showPriceForProductViewmodel>

@{
    ViewData["Title"] = "ShowAllPrice";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-sm-12">
    <div class="panel">
        <div class="panel-body" style="margin-top:5%;">


            <div class="editable-responsive">
                <div id="datatable-editable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                    <div class="row">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="m-b-30">
                                    <a href="/admin/product/AddPrice/@ViewBag.id" id="addToTable" class="btn btn-primary waves-effect waves-light">افزودن <i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">

                            @if (TempData["Result"] != null)
                            {
                                if (TempData["Result"].ToString() == "true")
                                {
                                    <div class="alert alert-success alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        ثبت اطلاعات با موفقیت انجام شد .
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        خطادر انجام عملیات .
                                    </div>
                                }
                            }

                            @if (TempData["NotFoundSlider"] != null)
                            {
                                <script>

                                    setTimeout(function () {
                                        Swal.fire({
                                            position: 'top-end',
                                            icon: 'error',
                                            title: 'اسلایدری با این مشخصات یافت نشد .',
                                            showConfirmButton: false,
                                            timer: 3000
                                        })
                                    }, 50)

                                </script>
                            }
                            <table class="table table-striped dataTable no-footer" id="datatable-editable" role="grid" aria-describedby="datatable-editable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">#</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">قیمت اصلی</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">قیمت ویژه</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">تعداد محصول</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">تعداد مجازخرید</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">اسم رنگ</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">گارانتی</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">تاریخ ایجاد</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable-editable" rowspan="1" colspan="1" style="width: 234px;" aria-sort="ascending" aria-label="موتور جستجو: activate to sort column descending">تاریخ پایان تخفیف</th>
    
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 138px;" aria-label="فعالیت">فعالیت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr class="gradeX odd" role="row">
                                                <td class="sorting_1">@item.Productpriceid</td>
                                                <td class="sorting_1">@item.mainprice</td>
                                                <td class="sorting_1">@item.sepcialprice</td>
                                                <td class="sorting_1">@item.count</td>
                                                <td class="sorting_1">@item.MaxorderCount</td>
                                                <td class="sorting_1">@item.Colorname</td>
                                                <td class="sorting_1">@item.guranteename</td>
                                                <td class="sorting_1">@item.Createdate.MilatiToShamsi()</td>
                                                <td class="sorting_1">@item.EndDateDisCount?.MilatiToShamsi()</td>

                                                <td class="actions">

                                                    <a href="/admin/product/showreview/@item.Productpriceid" class=" on-editing cancel-row"><i class="fa fa-product-hunt"></i></a>
                                                    <a href="/admin/product/updateproduct/@item.Productpriceid" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                                    <a href="/Admin/slider/deleteslider/@item.Productpriceid" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>

                                        }
                                    }
                                    else
                                    {
                                        <tr class="gradeX odd" role="row">
                                            <td colspan="5" class="sorting_1">قیمتی  موجود نمی باشد .</td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="datatable-editable_info" role="status" aria-live="polite">Showing 1 to 10 of 80 entries</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end: panel body -->

    </div> <!-- end panel -->
</div> <!-- end col-->
@section Scripts{
    <script src="~/CssSite/Js/sweetAlert.js"></script>

}


